* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	outline: 0;
}

body {
	background: #FFF;
	color: #fff;
	-webkit-font-smoothing: antialiased;
}

body, input, button {
	font-family: 'Roboto Slab', serif;
	font-size: 16px;
}

h1, h2, h3, h4, h5, h6, strong {
	font-weight: 500;
}

button {
	cursor: pointer;
}

.container {
	display: flex;
	flex-direction: column; 
	width: 50%;
	margin: 150px auto;
  
}

form>button {
	height: 50px;
	width: 20%; 
	background : #ff9000;
	border-radius: 10px;
	border: 0;
	padding: 0 16px;
	color: #312e38;
	font-weight: 500;
	transition: background-color 0.2s;
	background: #ff9000;
}


form>button:hover {
	opacity: 0.9;
}

input {
	height: 50px;
	width: 78%;
	background: transparent;
	border: 2px solid #ff9000;
	padding: 3px;
	margin-right: 5px;
}

@media ( max-width : 1200px) {
	form>button {
		margin-top: 5px;
		width: 100%;
	}
	input {
		width: 100%;
	}
	form {
		flex-direction: column;
		align-items: stretch;
	}
}

.selector {
	display: flex;
	width: 100%;
	align-items: center;
	height: 100px;
	margin: 20px 0 0 0;
	background: #eee;
	padding: 5px;
}

p {
	color: #000;
	word-break: break-all;
}

.tooltip {
	position: relative;
	display: inline-block;
}

.tooltip .tooltiptext {
	visibility: hidden;
	width: 140px;
	background-color: #555;
	color: #fff;
	text-align: center;
	border-radius: 6px;
	padding: 5px;
	position: absolute;
	z-index: 1;
	bottom: 50%;
	left: 12%;
	margin-left: -75px;
	opacity: 0;
	transition: opacity 0.3s;
}

.tooltip .tooltiptext::after {
	content: "";
	position: absolute;
	top: 100%;
	left: 50%;
	margin-left: -5px;
	border-width: 5px;
	border-style: solid;
	border-color: #555 transparent transparent transparent;
}

.buttonCopy {
	height: 30px;
	width: 150px;
	margin-top: 50px;
	background: #2F4F4F;
	border-radius: 0px;
	border: 0;
	padding: 0 16px;
	color: #FFF;
	font-weight: 500;
	transition: background-color 0.2s;
}