<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<title>Getting Started: Serving Web Content</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<link rel="stylesheet" href="/css/styles.css">
<link
	href="https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@400;500&display=swap"
	rel="stylesheet" />
</head>
<body>
	<div class="container">
		<div>
			<form action="#" th:action="@{/create-link}"  method="POST">
				<input type="text" name="uri" placeholder="Digite a URL do oneDrive">
				<Button type="submit">Gerar link</Button>
			</form>
		</div>
		<div class="selector">
			<p id="selector" th:if="${message != null}"
				th:text="oookkokokok"></p>
		</div>

		<div class="tooltip">
			<button class="buttonCopy" onclick="copyText()"
				onmouseout="outFunc()">
				<span class="tooltiptext" id="myTooltip">Copiar o texto</span>
				Copiar texto
			</button>
		</div>

	</div>

	<script>
		function copyText() {
			var text = document.getElementById("selector").innerText;
			var elem = document.createElement("textarea");
			document.body.appendChild(elem);
			elem.value = text;
			elem.select();
			document.execCommand("copy");
			document.body.removeChild(elem);

			
			var tooltip = document.getElementById("myTooltip");
			tooltip.innerHTML = "Texto copiado ";
			tooltip.style.visibility = "visible";
			tooltip.style.opacity = "1";
			
		}
		function outFunc() {
			var tooltip = document.getElementById("myTooltip");
			tooltip.style.visibility = "none";
			tooltip.style.opacity = "0";
		}
	</script>


</body>
</html>